@tailwind base;
@tailwind components;
@tailwind utilities;

.button-link {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #0056b3;
}
